apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
nodeRegistration:
  name: "{{ _name }}"
  criSocket: "{{ _criSocket }}"
  kubeletExtraArgs:
    {{ kubelet_extra_args }}
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ _controlPlaneEndpoint }}"
    token: '{{ token }}'
    caCertHashes:
    - '{{ ca_cert_hash }}'
{% if is_control_plane_node | default(false) %}
controlPlane:
  certificateKey: "{{ certificate_key }}"
  localAPIEndpoint:
    bindPort: {{ _bindPort | int }}
{%if _advertiseAddress is defined %}
    advertiseAddress: "{{ _advertiseAddress }}"
{% endif %}
{% endif %}
