apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: blueprint-pool
  namespace: metallb-system
spec:
  addresses:
{% for address in k8s.metallb.addresses %}
  - {{ address }}
{% endfor %}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: blueprint-l2adv
  namespace: metallb-system
